body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}
a {
    color: #03a9f4;
}
a:hover {
    color: #0fb2fc;
}



/* HEADER */
/* ------------------------------------------------------------------------ */
.navbar {
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
    opacity: 0;
    background: rgba(255,255,255,.0) !important;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .navbar {
        opacity: 1;
        background: rgba(255,255,255,1) !important; 
    }
}
.navbar-brand {
    text-transform: uppercase;
}
.navbar-white {
    color: #2f3f60 !important;
    font-weight: 600;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
.white {
    background: rgba(255,255,255,1) !important;  
    font-weight: 500;  
    opacity: 1;
}



/* HERO */
/* ------------------------------------------------------------------------ */
#hero {
    background: url(img/bg.png) center top;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    font-family: 'Roboto Mono', sans-serif;
}
#hero .container {
    height: 100%;
    position: relative;
}
#hero .container .mid {
/*    display: table;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#hero h1 {
    padding-bottom: 1em;
/*    text-transform: uppercase;*/
    font-weight: 400;
    color: #fff;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 600;
}
#hero .btn {
    margin: 0;
    border: 2px solid #2f3f60;
}
.btn-info {
    background-color: #2f3f60 !important;
}
#hero a:hover {
    color: #fff;
}
#hero .form .input-group {
    width: 100%;
    padding-bottom: 4em;
}



/* TABS */
/* ------------------------------------------------------------------------ */
#tabs {
    position: relative;
    top: -3.2em;
    font-family: 'Roboto Mono', sans-serif;
}
#tabs .nav-justified li {
    font-size: 1.2em;
    background: rgba(255,255,255,.6);
}
#tabs .nav-justified li a {
    color: #000;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #tabs {
        top: 0;
    }
}







/* SERVICES */
/* ------------------------------------------------------------------------ */
#services {
    background: #fff;
}
#services .col-sm-6 {
    padding-top: 3em;
    margin-top: 1em;
    background-repeat: no-repeat;
    background-position: top center;
}
#citizen .col-sm-6:nth-child(1) {
    background-image: url(img/icon_police.png);
}
#citizen .col-sm-6:nth-child(2) {
    background-image: url(img/icon_interaction.png);    
}
#citizen .col-sm-6:nth-child(4) {
    background-image: url(img/icon_home.png);    
}
#citizen .col-sm-6:nth-child(5) {
    background-image: url(img/icon_cart.png);    
}
#citizen .col-sm-6:nth-child(7) {
    background-image: url(img/icon_fam.png);    
}
#citizen .col-sm-6:nth-child(8) {
    background-image: url(img/icon_doc.png);    
}
#business .col-sm-6:nth-child(1) {
    background-image: url(img/icon_home.png);
}
#business .col-sm-6:nth-child(2) {
/*    background-image: url(img/icon_home.png);*/
}
#business .col-sm-6:nth-child(4) {
/*    background-image: url(img/icon_home.png);*/
}
#business .col-sm-6:nth-child(5) {
    background-image: url(img/icon_doc.png);
}
#services h3 {
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
}
#services ul a {
    color: #000;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
#services ul a:hover {
    color: #03a9f4;
    text-decoration: none;
}





/* FOOTER */
/* ------------------------------------------------------------------------ */
footer {
    padding-bottom: 3em;
}